<!-- <button
    class="flex gap-x-2 items-center text-xl cursor-pointer text-[#684123] hover:bg-[#BF9270] hover:px-2 hover:py-2 hover:rounded-md"
<button
    class="bg-[#E3B7A0] btn btn-sm btn-outline text-[#684123]"
    (click)="openModal()"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
        />
    </svg>
    เพื่อน
</button> -->

<!-- modal -->

<div class="p-4">
    <div class="grid grid-cols-5 gap-3 items-center">
        <app-autocomplete class="grid col-span-4 rounded-md"></app-autocomplete>
        <button
            [disabled]="!isDisable"
            [ngClass]="{ 'active:translate-y-1 active:shadow-none': isDisable }"
            class="btn btn-sm btn-outline bg-[#E3B7A0] shadow-[#BF9270] hover:cursor-pointer disabled:opacity-50 text-[#684123]"
        >
            เพิ่มเพื่อน
        </button>
    </div>
    <div class="">
        <div class="flex flex-wrap gap-2 items-center my-6 mx-4 justify-center">
            <div *ngFor="let payer of room">
                <div class="relative">
                    <div
                        class="bg-red-500 -top-1 -right-2 absolute rounded-full cursor-pointer hover:bg-white"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="text-white hover:text-red-500"
                            aria-hidden="true"
                        >
                            <path d="M18 6 6 18" />
                            <path d="m6 6 12 12" />
                        </svg>
                    </div>
                </div>
                <img [src]="payer.avatar" [alt]="payer.name" />
                <div class="text-center text-sm text-[#cb7b3f]">
                    {{ payer.name }}
                </div>
            </div>
        </div>
    </div>
</div>