<button
    [disabled]="!isDisable"
    [ngClass]="{'active:translate-y-1 active:shadow-none': isDisable}"
    class='bg-[#E3B7A0] py-1 px-4 rounded-md shadow-b shadow-[#BF9270] duration-300 transition-all hover:cursor-pointer disabled:opacity-50 text-[#684123]'
    onclick="my_modal_1.showModal()"
>
    <!-- class="btn btn-neutral" -->
    เพิ่ม
</button>

<!-- modal -->
<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
        <section class="py-6 dark:bg-gray-800 dark:text-gray-50">
            <form
                [formGroup]="menuForm"
                class="flex flex-col py-6 space-y-6 md:py-0 md:px-6"
            >
                <h1
                    class="text-6xl text-center font-bold capitalize"
                    formControlName="menu"
                >
                    {{ selectedMenu }}
                </h1>

                <!-- Price -->
                <label class="block">
                    <input
                        formControlName="price"
                        type="number"
                        inputmode="none"
                        placeholder="Type here"
                        class="w-full mt-2 text-5xl border-none lg:text-5xl focus:outline-none placeholder:text-4xl lg:placeholder:text-5xl placeholder:font-bold placeholder:text-gray-400 remove-arrow"
                        placeholder="How much..."
                    />
                    <div class="text-start">
                        <div
                            *ngIf="menuForm.get('price')?.hasError('required')"
                            class="text-red-500"
                        >
                            Price is required.
                        </div>
                        <div
                            *ngIf="menuForm.get('price')?.hasError('min')"
                            class="text-red-500"
                        >
                            Price must be greater than or equal to 0.
                        </div>
                    </div>
                    <div
                        *ngIf="menuForm.get('price')?.hasError('max')"
                        class="text-red-500"
                    >
                        Price must be less than or equal to 1000.
                    </div>
                </label>

                <!-- payers -->
                <label class="block">
                    <div class="w-full flex gap-2 flex-wrap">
                        <p
                            *ngFor="let user of usersInRoom"
                            (click)="onChoosePayer(user._id)"
                            [class.selected]="isSelected(user._id)"
                            class="border px-4 py-2 rounded-lg hover:cursor-pointer"
                        >
                            {{ user.name }}
                        </p>
                    </div>
                </label>

                <!-- image -->
                <div *ngIf="selectedImage">
                    <div class="flex items-center mb-3">
                        <div class="w-56">
                            <img
                                [src]="selectedImage"
                                alt="Selected"
                                class="object-cover"
                            />
                        </div>
                        <div class="ml-10 space-x-2 space-y-3">
                            <label
                                class="px-4 py-2 text-lg text-gray-800 border border-gray-800 rounded-lg cursor-pointer hover:bg-gray-800 hover:text-white"
                            >
                                Change
                                <input
                                    type="file"
                                    (change)="handleImageUpload($event)"
                                    accept="image/*"
                                    class="hidden"
                                />
                            </label>
                            <button
                                (click)="removeImage()"
                                class="px-4 py-2 text-red-500 cursor-pointer hover:bg-gray-50"
                            >
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!selectedImage">
                    <label
                        class="px-4 py-2 text-lg border rounded-lg cursor-pointer hover:bg-[#684123] hover:text-white"
                    >
                        Add a Slip
                        <input
                            type="file"
                            (change)="handleImageUpload($event)"
                            accept="image/*"
                            class="hidden"
                        />
                    </label>
                </div>
            </form>
        </section>

        <!-- button -->
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
            <button class="btn selected" (click)="onSubmit()">Add</button>
        </div>
    </div>
</dialog>
