<div>
    <!-- back button -->
    <div class="flex items-center justify-between mb-3 mx-2 text-[#684123]">
        <button
            class="bg-[#E3B7A0] py-1 px-1 shadow-b shadow-[#BF9270] rounded-md active:translate-y-1 active:shadow-none duration-300 transition-all"
            [routerLink]="'/'"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="#684123"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5L8.25 12l7.5-7.5"
                />
            </svg>
        </button>
        <app-show-qrcode></app-show-qrcode>
    </div>

    <div class="bg-[#ffead4c0]">
        <!-- menu bar -->
        <div
            class="bg-[#E3B7A0] h-[51px] flex items-center justify-around px-10 lg:justify-between lg:px-5 sticky top-7"
        >
            <button class="flex items-center gap-x-1 text-[#684123] text-xl">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="3"
                    stroke="#FCFCFC"
                    class="w-6 h-7"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
                    />
                </svg>
                รายการ
            </button>
            <app-friend></app-friend>
        </div>

        <!-- input and add menu -->
        <div class="">
            <div
                class="grid grid-cols-[80%10%] lg:grid-cols-[89%10%] py-[24px] items-center gap-x-5 mx-2"
            >
                <app-autocomplete
                    [data]="menus"
                    [keyword]="keyword"
                    (selectedMenuEvent)="receiveSelectedMenu($event)"
                    class="{`bg-black`}"
                ></app-autocomplete>

                <app-add-menu
                    [selectedMenu]="selectedMenu"
                    [billId]="room.bill._id"
                    [usersInRoom]="room.users"
                    [isDisable]="!!selectedMenu"
                ></app-add-menu>
            </div>

            <!-- input and add menu -->
            <!-- <div class="">
                <div
                    class="grid grid-cols-[80%10%] lg:grid-cols-[89%10%] py-[24px] items-center gap-x-5 mx-2"
                >
                    <app-autocomplete
                        [data]="menus"
                        [keyword]="keyword"
                        (selectedMenuEvent)="receiveSelectedMenu($event)"
                    ></app-autocomplete>

                    <app-add-menu
                        [selectedMenu]="selectedMenu"
                        [billId]="room.bill._id"
                        [usersInRoom]="room.users"
                        [isDisable]="!!selectedMenu"
                    ></app-add-menu>
                </div>
            </div> -->

            <!-- bar detail -->
            <div
                class="grid grid-cols-[80%10%10%] mx-2 text-sm text-center items-center text-[#B18B6D]"
            >
                <div class="text-xl text-start text-[#8F6D52] px-2">
                    ชื่อรายการ
                </div>
                <div>ราคา</div>
                <div>คนละ</div>
            </div>

            <!-- Bill -->
            <div class="h-[75vh] max-h-full overflow-y-auto hider">
                <div *ngFor="let menu of menusInBill">
                    <app-menu-card
                        [id]="menu._id"
                        [billId]="billId"
                        [title]="menu.menu.title"
                        [price]="menu.price"
                        [amount]="menu.amount"
                        [payers]="menu.payers"
                        [slip]="menu.slip"
                        [usersInRoom]="usersInRoom"
                    ></app-menu-card>
                </div>
            </div>
        </div>
    </div>
</div>
