<div>
    <!-- back button -->
    <div class="flex items-center justify-between mb-3 mx-2 text-[#684123]">
        <button
            class="bg-[#E3B7A0] py-1 px-1 shadow-b shadow-[#BF9270] rounded-md active:translate-y-1 active:shadow-none duration-300 transition-all"
            routerLink="/"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="#684123"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5L8.25 12l7.5-7.5"
                />
            </svg>
        </button>
        <app-show-qrcode></app-show-qrcode>
    </div>

    <div class="bg-[#ffead4c0]">
        <!-- menu bar -->
        <div
            class="bg-[#E3B7A0] h-[51px] flex items-center justify-around px-10 lg:justify-between lg:px-5 sticky top-7"
        >
            <button
                class="flex items-center gap-x-1 text-[#684123] text-xl"
                (click)="onSwitchMenu()"
            >
                <!-- <button class="flex items-center gap-x-1 text-[#684123] text-xl hover:bg-[#BF9270] hover:px-2 hover:py-2 hover:rounded-md" (click)="onSwitchMenu()"> -->
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="3"
                    stroke="#FCFCFC"
                    class="w-6 h-7"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
                    />
                </svg>
                รายการ
            </button>
            <!-- <app-friend></app-friend> -->
            <!-- <button
                class="flex gap-x-2 items-center text-xl cursor-pointer text-[#684123]"
                (click)="onSwitchFriend()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="#FCFCFC"
                    class="w-6 h-6"
                >
                    <path
                        fill-rule="evenodd"
                        d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z"
                        clip-rule="evenodd"
                    />
                    <path
                        d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z"
                    />
                </svg>
                เพื่อน
            </button> -->
            <button
                class="flex gap-x-2 items-center text-xl cursor-pointer text-[#684123]"
                routerLink="friend"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="#FCFCFC"
                    class="w-6 h-6"
                >
                    <path
                        fill-rule="evenodd"
                        d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z"
                        clip-rule="evenodd"
                    />
                    <path
                        d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z"
                    />
                </svg>
                เพื่อน
            </button>
        </div>

        <!-- <div *ngIf="switchComponent">
            <app-bill-menu></app-bill-menu>
        </div> -->
        <app-bill-menu></app-bill-menu>
        <!-- <div *ngIf="!switchComponent">
            <app-friend></app-friend>
        </div> -->
        <!-- <app-friend></app-friend> -->
    </div>
</div>
